
 #header {
	text-align: right;
	padding: 1em 0 0 0;
	background-color: #fff;
	background-image: url("images/bg02.png"),url("images/bg02.png"),url("images/bg01.png");
	background-position: top left, top left, top left;
	background-size: 100% 6em, 100% 6em, auto;
	background-repeat: no-repeat, no-repeat, repeat;
}

#header h1 {
	padding: 0 0 1em 0;
	margin: 0;
}

#footer {
    background-color: #000;
}
