{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description | markdownify }}</p>
  </div>
  <div id="action-buttons">
    <a href="{{ .Site.BaseURL }}{{ .Params.button.link }}" class="button outline big">{{ .Params.button.title | markdownify}}</a>
    <p>{{ .Params.button.text | markdownify}}</p>
  </div>
  <center>
    <div class="message focus" data-component="message">
      {{.Params.message | markdownify }}
    </div>
  </center>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
